<div class="card p-5 mb-3">
    <%= simple_form_for @property do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :number_of_guests %>
        <%= f.submit class:'btn btn-primary my-3 text-light rounded-pill w-100' %>
    <% end %>

    <div class="d-flex justify-content-center">
    <button class="px-5 me-5 rounded-pill">
      <%= link_to properties_path do %>
          <i class="fa-solid fa-arrow-rotate-left mb-1"> Back to Home</i>
      <% end %>
    </button>
      <button class="px-4 py-1 rounded-pill">
      <%= link_to dashboard_path do %>
      <i class="fa-solid fa-arrow-rotate-left"> Back to Dashboard</i>
      <% end %>
    </button>
    </div>
</div>
