<div class="container">

  <div class="property-info mb-3">
    <div class="d-flex flex-row">
      <h2><%= @property.name %></h2>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div>
        <p><%= @property.address %></p>
      </div>
      <div>
        <h5>$<%= @property.price_per_night %> per night</h5>
      </div>
    </div>
  </div>

  <div class="container photos-property gx-1 gy-1 d-flex justify-content-evenly mb-3">
    <div class="row">
      <div class="col col-lg-6 col1">
        <img src="<%= image_path "photo1.jpg"%>" alt="404 error">
      </div>
      <div class="col col-lg-3 col2">
        <div class="tile-photo pb-3"><img src="<%= image_path "photo2.jpg" %>" alt="404 error"></div>
        <div class="tile-photo"><img src="<%= image_path "photo3.jpg" %>" alt="404 error"></div>
      </div>
      <div class="col col-lg-3 col3">
        <div class="tile-photo pb-3"><img src="<%= image_path "photo4.jpg" %>" alt="404 error"></div>
        <div class="tile-photo"><img src="<%= image_path "photo5.jpg" %>" alt="404 error"></div>
      </div>
    </div>
  </div>

  <div class="reservation border-top pt-3">
    <h5 class="w-25"><strong>Reserve this pad</strong> <i class="fa-solid fa-eye"></i></h5>
    <button type="button" class="btn btn-primary reservation-button border-radius-round text-light rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">Reserve</button>
  </div>

  <div class="reservation-details border-top pt-3">
    <div class="row d-flex justify-content-between">
      <h5 class="w-25"><strong>About this pad</strong> <i class="fa-solid fa-bed"></i></h5>
    </div>
    <div class="row">
      <p class="mb-1"><strong>Price - </strong>$<%= @property.price_per_night %> per night</p>
      <p class="mb-1"><strong>Sleeps - </strong><%= @property.number_of_guests %> guests</p>
      <p class="mb-1"><strong>Details</strong></p>
      <p><%= @property.description %></p>
    </div>
  </div>

  <div class="map-reviews border-top pt-3">
    <div class="row d-flex">
      <div class="col w-50 reviews">
        <h5>Reviews</h5>
      </div>
      <div class="col w-50 map">
        <h5>Map</h5>
        <div style="width: 100%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->
<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Create a reservation</button> %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Make a reservation:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-auto">
        <%= render"reservations/new", property: @property, user: @user, reservation: @reservation %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-light rounded-pill" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%#
<script>
  const button = document.getElementById('modal-toggler')
  const modal = document.getElementById('modal-window')

  button.addEventListener('click', (e) => {
    console.log(e)
    modal.classList.remove('d-none')
  })
</script> %>
