<h1>Indiviudal Property Show Page</h1>

<%# :name, :address, :description, :price_per_night, :number_of_guests %>

<h3><%= @property.name %></h3>
<p><%= @property.address %></p>
<p><%= @property.description %></p>
<p><%= @property.price_per_night %></p>
<p><%= @property.number_of_guests %></p>
